#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "mouse.dtsi"

#define HRM 0 // Ever undecided if I should use home row mods or not, so I've have two default layers
#define DEF 1
#define NUM 2
#define NAV 3
#define SYM 4
#define FUN 5
#define MOU 6

&sk {
	quick-release;// Avoids "THis" problem (double capitalization)
	release-after-ms = <86400000>;// Default is 1000 ms, raised to 1 day to emulate Callum's behavior that requires canceling on layer key.
};

&caps_word { // separators + K_CANCEL for &lc macro + LSHFT for PT-BR diacriticals dead keys. This makes RSHFT a thumb key that will &caps_word.
	/delete-property/ ignore-modifiers; // Requires PR#1451 (https://github.com/zmkfirmware/zmk/pull/1451) - currently unmantained but still working
	continue-list = <UNDERSCORE MINUS BACKSPACE DELETE K_CANCEL LSHFT SQT CARET TILDE GRAVE>;
};

/ {
	combos {
		compatible = "zmk,combos";
		
		left_hand_esc_combo {
			bindings = <&kp ESCAPE>;
			timeout-ms = <35>;
			key-positions = <0 10>;
			require-prior-idle-ms = <200>;
		};
				
		left_hand_enter_combo {
			bindings = <&kp ENTER>;
			timeout-ms = <35>;
			key-positions = <3 13>;
			require-prior-idle-ms = <200>;
		};
		
		left_hand_backspace {
			bindings = <&kp BSPC>;
			timeout-ms = <35>;
			key-positions = <4 14>;
			require-prior-idle-ms = <200>;
		};
		
		toggle_nav_layer_combo {
			key-positions = <30 31>;
			bindings = <&tog NAV>;
			layers = <DEF HRM NAV NUM>;
		};
		
		toggle_mouse_layer_combo {
			key-positions = <21 22 23>;
			bindings = <&tog MOU>;
			layers = <DEF HRM NAV NUM MOU>;
		};
		
		toggle_numpad {
			key-positions = <12 30>;
			bindings = <&tog NUM>;
			require-prior-idle-ms = <200>;
			layers = <DEF HRM NUM>;
		};

		media_mute_combo {
			key-positions = <27 28>;
			timeout-ms = <35>;
			bindings = <&kp C_MUTE>;
			layers = <NAV>;
		};

		sys_bootloader {
			key-positions = <20 21>;
			bindings = <&bootloader>;
			layers = <FUN>;
		};
		
		sys_connect_to_bt0 {
			key-positions = <3 4>;
			bindings = <&bt BT_SEL 0>;
			layers = <FUN>;
		};
		
		sys_connect_to_bt1 {
			key-positions = <13 14>;
			bindings = <&bt BT_SEL 1>;
			layers = <FUN>;
		};
		
		sys_connect_to_bt2 {
			key-positions = <23 24>;
			bindings = <&bt BT_SEL 2>;
			layers = <FUN>;
		};
		
		sys_clear_current_bluetooth_profile {
			key-positions = <28 29>;
			bindings = <&bt BT_CLR>;
			layers = <FUN>;
		};
		
		sys_toggle_home_row_mods_on_off {
			key-positions = <14 15>;
			bindings = <&tog 1>;
			layers = <FUN>;
		};
	};
	
	behaviors {
		ml: home-row-mods-left { // Using urob's settings which _almost_ eliminates false positives (SA being the most problematic to me).
			compatible = "zmk,behavior-hold-tap";
			bindings = <&kp>, <&kp>;
			#binding-cells = <2>;
			tapping-term-ms = <280>;
			quick-tap-ms = <200>;
			require-prior-idle-ms = <175>;
			flavor = "balanced";
			hold-trigger-key-positions = <30 31 32 33 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;
			hold-trigger-on-release;
		};
		
		mr: home-row-mods-right { // Using urob's settings which _almost_ eliminates false positives (SA being the most problematic to me).
			compatible = "zmk,behavior-hold-tap";
			bindings = <&kp>, <&kp>;
			#binding-cells = <2>;
			tapping-term-ms = <280>;
			quick-tap-ms = <200>;
			require-prior-idle-ms = <175>;
			flavor = "balanced";
			hold-trigger-key-positions = <30 31 32 33 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24>;
			hold-trigger-on-release;
		};
		
		shft_cw: shft_caps_word {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			bindings = <&sk RSHFT>, <&caps_word>;
			tapping-term-ms = <300>;
		};
		
		playnp: play_next_previous_media_key {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <300>;
			bindings = <&kp C_PLAY_PAUSE>, <&kp C_NEXT>, <&kp C_PREVIOUS>;
		};
		
		vb_up: volume_brightness_up_on_control {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_BRI_UP>;
            mods = <(MOD_LCTL)>;
        };

        vb_dn: volume_brightness_down_on_control {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&kp C_BRI_DN>;
            mods = <(MOD_LCTL)>;
        };

		aswapper: swapper_for_apple_cmd_tab {
			compatible = "zmk,behavior-tri-state";// requires tri-state module (https://github.com/urob/zmk-tri-state)
			#binding-cells = <0>;
			bindings = <&kt RGUI>, <&kp TAB>, <&kt RGUI>; // For Windows alt-tab, need to switch to &kt LALT
			ignored-key-positions = <7 9 16 17 18 19 29>;// Arrows and BSPC, ENTER and DEL
		};
		
	};
	
	macros {
		lc: mo_layer_switch_with_an_embeded_cancel_tap_for_clearing_any_queued_sticky_mods_on_layer_activation {
			compatible = "zmk,behavior-macro-one-param";
			label = "mo_layer/cancel";
			wait-ms = <0>;
			tap-ms = <0>;
			#binding-cells = <1>;
			bindings =
			<&macro_tap>,
			<&kp K_CANCEL &macro_param_1to1>,
			<&macro_press>,
			<&mo MACRO_PLACEHOLDER>,
			<&macro_pause_for_release>,
			<&macro_param_1to1>,
			<&macro_release>,
			<&mo MACRO_PLACEHOLDER>;
		};

		m2hr: from_mouse_layer_to_def_with_homerow_app_activation {
			compatible = "zmk,behavior-macro";
			label = "from mouse to homerow";
			wait-ms = <0>;
			tap-ms = <0>;
			#binding-cells = <0>;
			bindings = <&macro_tap>, <&to DEF &kp LG(LS(SPACE))>; // default shortcut for homerow hints (https://www.homerow.app) for faster clicking without a mouse
		};
		
	};
	
	conditional_layers {
		compatible = "zmk,conditional-layers";

		tri_layer_for_function_and_number_row_keys {
			if-layers = <NAV SYM>;
			then-layer = <FUN>;
		};
	};
	
	keymap {
		compatible = "zmk,keymap";

		default_with_home_row_mods {
			bindings = <
			&kp Q 		 &kp W       &kp E			&kp R       &kp T           			&kp Y        			&kp U       &kp I       &kp O       &kp P
			&ml LCTRL A  &ml LALT S  &ml RSHFT D	&ml LGUI F  &ml LG(LA(LS(LCTRL))) G	&mr LG(LA(LS(LCTRL))) H		&mr RGUI J	&mr RSHFT K &mr RALT L  &mr RCTRL SQT
			&ml GLOBE Z  &kp X       &kp C			&kp V		&kp B						&kp N        			&kp M		&kp COMMA	&kp DOT     &mr NUM SEMI
													&lc NAV     &shft_cw					&kp SPACE    			&lc SYM
			>;
		};

		default_without_home_row_mods {
			bindings = <
			&kp Q        &kp W  &kp E  &kp R    &kp T       &kp Y      &kp U    &kp I      &kp O    &kp P
			&kp A        &kp S  &kp D  &kp F    &kp G       &kp H      &kp J    &kp K      &kp L    &kp SQT
			&ml GLOBE Z  &kp X  &kp C  &kp V    &kp B       &kp N      &kp M    &kp COMMA  &kp DOT  &kp SEMI
                                       &lc NAV  &shft_cw    &kp SPACE  &lc SYM
			>;
		};
		
		numpad {
			bindings = <
			&kp TAB		&kp N7  &kp N8  &kp N9	&kp COLON  	   		&trans  &trans  &trans     &trans   &trans
			&kp N0		&kp N4  &kp N5  &kp N6	&sl SYM				&trans  &trans  &trans     &trans   &trans
			&kp COMMA	&kp N1  &kp N2  &kp N3	&kp DOT				&trans  &trans  &kp COMMA  &kp DOT  &kp COLON
		                        	&lt NAV N0	&lt SYM K_CANCEL	&trans  &lt SYM K_CANCEL
			>;
		};
		
		navigation_editing_and_media_controls {
			bindings = <
			&kp TAB			&aswapper	&kp LS(LC(TAB))	&kp LC(TAB)	&kp LG(RBKT)	&kp PG_UP	&kp HOME			&kp UP		&kp END		&kp BSPC
			&sk LCTRL		&sk LALT	&sk RSHFT		&sk LGUI	&kp LG(LBKT)	&kp PG_DN	&kp LEFT			&kp DOWN	&kp RIGHT	&kp RET
			&ml GLOBE LG(Z)	&kp LG(X)	&kp LG(C)		&kp LG(V)	&kp F18			&playnp		&kp LS(LG(SPACE))	&vb_dn  	&vb_up		&kp DEL
														&trans		&trans			&trans		&trans
			>;
		};
		
		symbols {
			bindings = <
			&kp ESC    &kp LBRC   &kp LBKT   &kp LPAR   &kp PIPE		&kp LA(N6)	&kp RPAR  &kp RBKT   &kp RBRC  &kp AMPS
			&kp MINUS  &kp CARET  &kp GRAVE  &kp TILDE  &kp DOLLAR		&kp HASH  	&sk RGUI  &sk LSHFT  &sk RALT  &sk RCTRL
			&kp PLUS   &kp EQUAL  &kp ASTRK  &kp FSLH   &kp PRCNT		&kp AT    	&kp BSLH  &kp QMARK  &kp EXCL  &mr GLOBE COLON
			                                 &trans     &lt RSHFT UNDER	&trans    	&trans
			>;
		};
		
		function_and_number_row {
			bindings = <
			&kp N1     &kp N2    &kp N3     &kp N4    &kp N5        &kp N6    &kp N7    &kp N8     &kp N9    &kp N0
			&sk LCTRL  &sk LALT  &sk RSHFT  &sk LGUI  &kp F11       &kp F12   &sk RGUI  &sk LSHFT  &sk RALT  &sk RCTRL 
			&kp F1     &kp F2    &kp F3     &kp F4    &kp F5        &kp F6    &kp F7    &kp F8     &kp F9    &kp F10
			                                &trans    &kp LG(LC(Q))	&kp CAPS  &trans
			>;
		};
		
		mouse_movement_and_editing_with_mouse {
			bindings = <
			&kp ESC			&kp LC(UP)	&kp LS(LC(TAB))	&kp LC(TAB)	&kp BSPC	&msc SCRL_DOWN  &msc SCRL_RIGHT  &mmv MOVE_UP	&msc SCRL_LEFT	&kp BSPC
			&kp LCTRL		&kp LALT	&kp LSHFT		&kp LCMD	&kp ENTER	&msc SCRL_UP    &mmv MOVE_LEFT   &mmv MOVE_DOWN	&mmv MOVE_RIGHT	&kp ENTER
			&ml GLOBE LG(Z)	&kp LG(X)	&kp LG(C)		&kp LG(V)	&kp F18		&mkp MB3		&m2hr			 &kp LC(LEFT)	&kp LC(RIGHT)	&kp DEL
														&tog MOU	&kp SPACE	&mkp MB1        &mkp MB2
			>;
		};
	};
};
