#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Default Apple layers

#define DEF 0
#define HRM 1
#define NUM 2
#define NAV 3
#define SYM 4
#define FUN 5

// AOE2 Layers for in game shortcuts

#define AOED 6
#define AOEG 7
#define AOEB 8

&caps_word {
    /delete-property/ ignore-modifiers; // Avoids `CMD-SHIFT-S` when I was just trying to type `CMD-S`
    continue-list = <UNDERSCORE MINUS SQT CARET TILDE GRAVE K_CANCEL BACKSPACE DELETE LSHFT>; // LSHFT is required to use diacriticals in PT-BR, even with ~, ` and ^ dedicated keys
};

&mt {
    flavor = "tap-preferred";
};

&sk {
    release-after-ms = <600000>; // set to a bonkers 10mins default is 1s 1000ms
    quick-release; // avoids "THe"
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <100>;
    hold-trigger-on-release;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        defaulf_without_home_row_mods {
            bindings = <
&kp Q          &kp W  &kp E  &kp R    &kp T       &kp Y      &kp U         &kp I      &kp O    &kp P
&kp A          &kp S  &kp D  &kp F    &kp G       &kp H      &kp J         &kp K      &kp L    &kp SQT
&hrml GLOBE Z  &kp X  &kp C  &kp V    &kp B       &kp N      &kp M         &kp COMMA  &kp DOT  &hrmr GLOBE SEMI
                             &lc NAV  &shft_cw    &kp SPACE  &lc_nw SYM 0
            >;
        };

        default_layer_with_home_row_mods {
            bindings = <
&kp Q          &kp W         &kp E          &kp R         &kp T                       &kp Y                     &kp U         &kp I          &kp O         &kp P
&hrml LCTRL A  &hrml LALT S  &hrml LSHFT D  &hrml LGUI F  &hrml LS(LA(LC(LGUI))) G    &hrmr RS(RA(RC(RGUI))) H  &hrmr RGUI J  &hrmr LSHFT K  &hrmr RALT L  &hrmr RCTRL SQT
&hrml GLOBE Z  &kp X         &kp C          &kp V         &kp B                       &kp N                     &kp M         &kp COMMA      &kp DOT       &hrmr GLOBE SEMI
                                            &lc NAV       &mt RSHFT ENTER             &lt 4 SPACE               &lt 2 BSPC
            >;
        };

        numpad {
            bindings = <
&trans  &kp N7  &kp N8  &kp N9            &trans    &trans  &trans            &trans  &trans  &trans
&kp N0  &kp N4  &kp N5  &kp N6            &trans    &trans  &trans            &trans  &trans  &trans
&trans  &kp N1  &kp N2  &kp N3            &trans    &trans  &trans            &trans  &trans  &trans
                        &lt NAV K_CANCEL  &trans    &trans  &lt SYM K_CANCEL
            >;
        };

        navigation_and_media_layer {
            bindings = <
&kp TAB            &swapper   &kp LS(LC(TAB))  &kp LC(TAB)  &kp C_VOL_UP     &kp PG_UP     &kp HOME       &kp UP             &kp END       &kp BSPC
&sk LCTRL          &sk LALT   &sk LSHFT        &sk LGUI     &kp C_VOL_DN     &kp PG_DN     &kp LEFT       &kp DOWN           &kp RIGHT     &kp ENTER
&hrml GLOBE LG(Z)  &kp LG(X)  &kp LG(C)        &kp LG(V)    &playnextprev    &kp LG(LBKT)  &kp LG(SPACE)  &kp LS(LG(SPACE))  &kp LG(RBKT)  &hrmr GLOBE DEL
                                               &trans       &trans           &trans        &trans
            >;
        };

        symbols_layer {
            bindings = <
&kp ESC           &kp LBRC   &kp LBKT   &kp LPAR   &kp TILDE    &kp CARET  &kp RPAR  &kp RBKT   &kp RBRC   &kp GRAVE
&kp MINUS         &kp ASTRK  &kp EQUAL  &kp UNDER  &kp DLLR     &kp HASH   &sk RGUI  &sk RSHFT  &sk RALT   &sk RCTRL
&hrml GLOBE PLUS  &kp PIPE   &kp AT     &kp FSLH   &kp PRCNT    &numword   &kp BSLH  &kp AMPS   &kp QMARK  &hrmr GLOBE EXCL
                                        &trans     &trans       &trans     &trans
            >;
        };

        function_and_number_row {
            bindings = <
&kp N1     &kp N2    &kp N3     &kp N4    &kp N5     &kp N6   &kp N7    &kp N8     &kp N9    &kp N0
&sk LCTRL  &sk LALT  &sk LSHFT  &sk LGUI  &kp F11    &kp F12  &sk RGUI  &sk RSHFT  &sk RALT  &sk RCTRL
&kp F1     &kp F2    &kp F3     &kp F4    &kp F5     &kp F6   &kp F7    &kp F8     &kp F9    &kp F10
                                &trans    &trans     &trans   &trans
            >;
        };

        aoe_default_layer {
            bindings = <
&kp Q        &kp W       &kp E        &kp R        &kp T             &trans  &trans  &trans  &trans  &trans
&mt LCTRL A  &mt LALT S  &mt LSHFT D  &mt LCTRL F  &kp G             &trans  &trans  &trans  &trans  &trans
&kp Z        &kp X       &kp C        &kp V        &kp B             &trans  &trans  &trans  &trans  &trans
                                      &lt AOEG H   &lt AOEB SPACE    &trans  &trans
            >;
        };

        aoe_unit_and_group_selection {
            bindings = <
&kp ESC       &kp N7       &kp N8              &kp N9        &kp DEL        &trans  &trans  &trans  &trans  &trans
&mt LCTRL N2  &mt LALT N3  &mt LSHFT NUMBER_4  &mt LCTRL N5  &kp N6         &trans  &trans  &trans  &trans  &trans
&kp SPACE     &kp COMMA    &kp LS(COMMA)       &kp DOT       &kp LS(DOT)    &trans  &trans  &trans  &trans  &trans
                                               &trans        &trans         &trans  &trans
            >;
        };

        aoe_all_buildings_selection {
            bindings = <
&kp LC(LS(M))  &kp LC(LS(S))  &kp LC(LS(U))  &kp LC(LS(Y))  &kp LC(LS(D))    &trans  &trans  &trans  &trans  &trans
&kp LC(LS(A))  &kp LC(LS(L))  &kp LC(LS(B))  &kp LC(LS(K))  &kp LC(LS(H))    &trans  &trans  &trans  &trans  &trans
&kp LC(LS(Z))  &kp LC(LS(I))  &kp LC(LS(G))  &kp LC(LS(V))  &kp LC(LS(H))    &trans  &trans  &trans  &trans  &trans
                                             &trans         &trans           &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <NAV SYM>;
            then-layer = <FUN>;
        };

        hrm_tri_layer {
            if-layers = <2 3>;
            then-layer = <5>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Layer combos

        combo_toggle_nav {
            key-positions = <30 31>;
            layers = <DEF HRM NAV>;
            bindings = <&tog NAV>;
        };

        combo_numword {
            key-positions = <32 33>;
            layers = <DEF NUM>;
            bindings = <&numword>;
        };

        toggle_home_row_mods_on_off_on_default_layer {
            key-positions = <10 19>;
            layers = <FUN>;
            bindings = <&tog HRM>;
        };

        // Multimedia combos

        combo_mute {
            key-positions = <4 14>; // Vol up
            layers = <NAV>;
            bindings = <&kp C_MUTE>;
        };

        // HRM combos

        combo_left_enter {
            key-positions = <12 13>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&hrml LG(LSHFT) ENTER>;
        };

        combo_right_enter {
            key-positions = <18 19>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp ENTER>;
        };

        combo_left_esc {
            key-positions = <1 2>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            key-positions = <2 3>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp TAB>;
        };

        combo_at {
            key-positions = <1 11>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp AT>;
        };

        combo_hash {
            key-positions = <2 12>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp HASH>;
        };

        combo_dollar {
            key-positions = <3 13>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp DOLLAR>;
        };

        combo_percent {
            key-positions = <4 14>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp PERCENT>;
        };

        combo_circunflex {
            key-positions = <5 15>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp CARET>;
        };

        combo_plus {
            key-positions = <6 16>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp PLUS>;
        };

        combo_asterisk {
            key-positions = <7 17>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp ASTERISK>;
        };

        combo_anpersand {
            key-positions = <8 18>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp AMPERSAND>;
        };

        combo_grave {
            key-positions = <11 21>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp GRAVE>;
        };

        combo_slash {
            key-positions = <12 22>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp SLASH>;
        };

        combo_equal {
            key-positions = <13 23>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp EQUAL>;
        };

        combo_tilde {
            key-positions = <14 24>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp TILDE>;
        };

        combo_underscore {
            key-positions = <15 25>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp UNDER>;
        };

        combo_minus {
            key-positions = <16 26>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp MINUS>;
        };

        combo_forward_slash {
            key-positions = <17 27>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp FSLH>;
        };

        combo_pipe {
            key-positions = <18 28>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp PIPE>;
        };

        combo_cut {
            key-positions = <21 23>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp LG(X)>;
        };

        combo_copy {
            key-positions = <21 22>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp LG(C)>;
        };

        combo_paste {
            key-positions = <22 23>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp LG(V)>;
        };

        combo_backspace {
            key-positions = <6 7>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp BSPC>;
        };

        combo_del {
            key-positions = <7 8>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp DEL>;
        };

        combo_open_parenthesis {
            key-positions = <16 17>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&hrmr RG(LSHFT) LPAR>; // workaround to allow chording mods and having the parenthesis combo described by urob in his repo
        };

        combo_close_parenthesis {
            key-positions = <17 18>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&hrmr RA(RSHFT) RPAR>; // workaround to allow chording mods and having the parenthesis combo described by urob in his repo
        };

        combo_open_bracket {
            key-positions = <26 27>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp LBKT>;
        };

        combo_close_bracket {
            key-positions = <27 28>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp RBKT>;
        };

        combo_exclamation {
            key-positions = <9 19>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp EXCLAMATION>;
        };

        combo_question_mark {
            key-positions = <19 29>;
            layers = <HRM>;
            require-prior-idle-ms = <150>;
            bindings = <&kp QUESTION>;
        };

        // Bluetooth combos

        combo_trigger_bootloader {
            key-positions = <20 21>;
            layers = <FUN>;
            bindings = <&bootloader>;
        };

        combo_toggle_bt0_connection {
            key-positions = <3 4>;
            layers = <FUN>;
            bindings = <&bt BT_SEL 0>;
        };

        combo_toggle_bt1_connection {
            key-positions = <13 14>;
            layers = <FUN>;
            bindings = <&bt BT_SEL 1>;
        };

        combo_toggle_bt2_connection {
            key-positions = <23 24>;
            layers = <FUN>;
            bindings = <&bt BT_SEL 2>;
        };

        combo_clear_current_bluetooth_profile {
            key-positions = <28 29>;
            layers = <FUN>;
            bindings = <&bt BT_CLR>;
        };

        // AOE combos

        combo_toggle_aoe_layer {
            bindings = <&tog AOED>;
            key-positions = <1 2 3>;
            layers = <DEF AOED>;
        };

        aoe_pause {
            bindings = <&kp F3>;
            key-positions = <21 22 23>;
            layers = <AOED>;
        };
    };

    behaviors {
        shft_cw: shift_and_caps_word {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_SHIFT_CAPS_WORD";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RSHFT>, <&caps_word>;
        };

        playnextprev: next_previous_song {
            compatible = "zmk,behavior-tap-dance";
            label = "NEXT-PREVIOUS";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp C_PLAY_PAUSE>, <&kp C_NEXT>, <&kp C_PREVIOUS>;
        };

        expose: expose_and_show_desktop {
            compatible = "zmk,behavior-tap-dance";
            label = "EXPOSE_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings =
                <&kp C_AC_DESKTOP_SHOW_ALL_WINDOWS>,
                <&kp LG(C_AC_DESKTOP_SHOW_ALL_WINDOWS)>;
        };

        swapper: swapper {
            compatible = "zmk,behavior-tri-state"; // requires tri-state (PR #1366)
            label = "SWAPPER";
            #binding-cells = <0>;
            bindings = <&kt LCMD>, <&kp TAB>, <&kt LCMD>;

            ignored-key-positions = <0 3 7 9 16 17 18 28 29>; // Tab, Shift, Arrow key positions and DEL/BSPC to quit app/close window from altTab
        };

        numword: numword {
            compatible = "zmk,behavior-caps-word"; // Custom caps-word (PR #1451)
            label = "NUM_WORD_SMART_LAYER";
            #binding-cells = <0>;
            layers = <NUM>;
            continue-list = <BACKSPACE DELETE DOT COMMA SEMI COLON SLASH PLUS MINUS ASTRK EQUAL RGUI RSHFT RALT RCTRL>;
            ignore-numbers;

            // ignore-modifiers;
        };

        lc_nw: numword_on_press_lc_sym_on_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "NUM_WORD_LC_SYM";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&lc>, <&numword>;
        };

        hrml: hrml {
            compatible = "zmk,behavior-hold-tap";
            label = "HRML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };

        hrmr: hrmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31>;
            hold-trigger-on-release;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };
    };

    macros {
        lc: mo_layer_with_embeded_cancel_for_clearing_queued_sticky_mods_on_key_press {
            label = "LAYER_CANCEL";
            compatible = "zmk,behavior-macro-one-param";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <1>;
            bindings =
                <&macro_tap>,
                <&kp K_CANCEL &macro_param_1to1>,
                <&macro_press>,
                <&mo MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_1to1>,
                <&macro_release>,
                <&mo MACRO_PLACEHOLDER>;
        };
    };
};
